<h1 class="ui inverted header">{{ pgDef?.name }}</h1>

<div class="ui inverted compact segment">
  <form class="ui inverted form">
    <div class="fields">
      <div class="field">
        <label>Passport</label>
        <input
          type="text"
          name="hhd-passport"
          placeholder="Passport"
          value="{{ hhData?.passport }}"
        />
      </div>
      <div class="field">
        <label>Nickname</label>
        <input
          type="text"
          name="hhd-nickname"
          placeholder="Nickname"
          value="{{ hhData?.nickname }}"
        />
      </div>
    </div>
    <button class="ui negative left floated button" routerLink="/">
      Cancel
    </button>
    <button
      class="ui primary right floated button"
      type="submit"
      (submit)="doSubmit()"
    >
      Save
    </button>
  </form>
</div>
