<div class="ui buttons" id="listFilters">
  <button
    class="{{ filter.passportEmpty ? 'primary' : 'basic' }} ui button"
    (click)="setFilter(!filter.passportEmpty)"
  >
    <i class="plane icon"></i>
    Passports
  </button>
</div>

<div class="ui buttons right floated" id="listSorts">
  <button
    class="{{ sort == 'Nearest' ? 'primary' : 'basic' }} ui button"
    (click)="setSort('Nearest')"
  >
    Distance</button
  ><button
    class="{{ sort == 'VisitDate' ? 'primary' : 'basic' }} ui button"
    (click)="setSort('VisitDate')"
  >
    Visit Date
  </button>
</div>

<div style="height: 1rem"></div>

<div class="ui centered cards">
  <app-pg-card
    class="ui horizontal card"
    *ngFor="let pgDef of playgroundDefs"
    [pgDef]="pgDef"
    [hhPgData]="household.playgrounds[pgDef.id]"
    [geoCoords]="geoCoords"
  ></app-pg-card>
</div>
