<div>
  <div class="ui top fixed menu">
    <div class="header item">Playgrounds</div>
    <!-- <div class="toolbar-spacer"></div> -->
    <div class="ui simple dropdown item floated right">
      <div class="text">Menu</div>
      <i class="dropdown icon"></i>

      <div class="left menu">
        <div class="item" *ngIf="isLoggedIn()">
          <a class="ui primary button" routerLink="/login"
            >Welcome, {{ householdId }}</a
          >
        </div>
        <div class="item" *ngIf="!isLoggedIn()">
          <a class="ui primary button" routerLink="/login">Log In</a>
        </div>

        <div class="item">
          <a
            class="ui"
            target="_blank"
            href="https://www.ankenyiowa.gov/our-city/departments/parks-and-recreation/parks/parks-passport-challenge"
            >Ankeny Parks Passport Website</a
          >
        </div>

        <div class="item">
          <div class="ui primary button">Check In</div>
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top: 4rem">
    <router-outlet></router-outlet>
  </div>
</div>
