<div>
  <div class="ui top fixed menu" style="z-index: 99">
    <div class="ui dropdown item" id="top_menu_dropdown">
      <!-- <div class="text">Menu</div> -->
      <!-- <i class="dropdown icon"></i> -->
      <i class="bars icon"></i>

      <div class="menu">
        <div class="item" *ngIf="db.hasHousehold()" routerLink="/login">
          Welcome, {{ db.getHouseholdId() }}
        </div>
        <div class="item" *ngIf="!db.hasHousehold()" routerLink="/login">
          Log In
        </div>

        <div class="item" routerLink="/passport-list">Passport List</div>

        <div class="item">
          <a
            class="ui"
            target="_blank"
            href="https://www.ankenyiowa.gov/our-city/departments/parks-and-recreation/parks/parks-passport-challenge"
            >Ankeny Parks<br />Passport Website</a
          >
        </div>
      </div>
    </div>
    <div class="header item" routerLink="/">Ankeny Playgrounds</div>

    <div class="right floated borderless item">
      <i
        class="ui icons"
        data-tooltip="Online - All changes are synced"
        data-position="bottom right"
        *ngIf="db.hasHousehold() && db.isOnline"
      >
        <i class="cloud primary icon"></i>
      </i>
      <i
        class="ui icons"
        data-tooltip="Offline - Changes are saved locally and will sync when online"
        data-position="bottom right"
        *ngIf="db.hasHousehold() && !db.isOnline"
      >
        <i class="cloud orange icon"></i>
        <i class="times corner icon"></i>
      </i>
      <i
        class="ui icons"
        data-tooltip="Local Only - Click to login"
        data-position="bottom right"
        *ngIf="!db.hasHousehold()"
      >
        <a class="ui" routerLink="/login">
          <i class="cloud inverted grey icon"></i>
        </a>
      </i>
    </div>
  </div>

  <div style="padding-top: 4rem">
    <router-outlet></router-outlet>
  </div>
</div>
