<div>
  <div class="ui top fixed menu">
    <div class="ui dropdown item" id="top_menu_dropdown">
      <!-- <div class="text">Menu</div> -->
      <!-- <i class="dropdown icon"></i> -->
      <i class="bars icon"></i>

      <div class="menu">
        <div class="item" *ngIf="isLoggedIn()" routerLink="/login">
          Welcome, {{ householdId }}
        </div>
        <div class="item" *ngIf="!isLoggedIn()" routerLink="/login">Log In</div>

        <div class="item" routerLink="/passport-list">Passport List</div>

        <div class="item">
          <a
            class="ui"
            target="_blank"
            href="https://www.ankenyiowa.gov/our-city/departments/parks-and-recreation/parks/parks-passport-challenge"
            >Ankeny Parks<br />Passport Website</a
          >
        </div>
      </div>
    </div>
    <div class="header item" routerLink="/">Ankeny Playgrounds</div>
  </div>

  <div style="padding-top: 4rem">
    <router-outlet></router-outlet>
  </div>
</div>
