<div class="ui horizontal card inverted">
  <div class="image">
    <img src="{{ pgDef?.imageUrl }}" />
  </div>
  <div class="content">
    <div class="header">
      {{ pgDef?.name }}&nbsp;&nbsp;
      <a target="_blank" href="{{ getParkWebsiteURL() }}"
        ><i class="external alternate small link icon inverted"></i
      ></a>
    </div>
    <div class="meta" *ngIf="getHhPgData()?.nickname as nick">
      <span>"{{ nick }}"</span>
    </div>
    <span class="meta" *ngIf="getHhPgData()?.passport">
      <i class="plane icon green"></i>
    </span>
    <span class="meta" *ngIf="!getHhPgData()?.passport">
      <i class="plane icon small inverted grey circular"></i>
    </span>
    <div class="description">
      <a target="_blank" href="{{ getGoogleMapsURL() }}">{{
        trimmedAddress()
      }}</a>
    </div>
  </div>
  <!-- <div class="extra content">
    <a class="ui inverted button" routerLink="/edit/{{ pgDef?.id }}"> Edit </a>
  </div> -->
</div>
