<div class="ui image">
  <img class="ui image" src="{{ pgDef?.imageUrl }}" />
</div>
<div class="content">
  <div class="header">
    {{ pgDef?.name }}&nbsp;&nbsp;
    <a
      target="_blank"
      href="{{ getParkWebsiteURL() }}"
      *ngIf="pgDef?.id != '999999'"
      ><i class="external alternate small link icon"></i
    ></a>
  </div>
  <div class="meta">
    <span *ngIf="hhPgData?.nickname as nick">"{{ nick }}"</span>
  </div>
  <div class="description">
    <a target="_blank" href="{{ getGoogleMapsURL() }}">{{
      trimmedAddress()
    }}</a>
  </div>
  <div class="description">
    {{ hhPgData?.notes }}
  </div>
</div>

<div class="extra content" style="padding: 0px">
  <div
    class="ui horizontal basic center aligned segments"
    style="margin-top: 8px; margin-bottom: 8px"
  >
    <div
      class="ui fitted segment"
      *ngIf="hhPgData?.passport"
      data-tooltip="Passport logged"
      data-position="bottom center"
    >
      <i class="plane icon fitted small yellow"></i>
    </div>
    <div
      class="ui fitted segment"
      *ngIf="!hhPgData?.passport"
      data-tooltip="Passport not logged"
      data-position="bottom center"
    >
      <i class="plane icon fitted tiny inverted grey circular"></i>
    </div>

    <div
      class="ui fitted segment"
      *ngIf="pgDef?.restroom == 'None'"
      data-tooltip="No toilet"
      data-position="bottom center"
    >
      <i class="restroom small inverted grey icon"></i>
    </div>
    <div
      class="ui fitted segment"
      *ngIf="pgDef?.restroom == 'Indoor'"
      data-tooltip="Indoor restroom"
      data-position="bottom center"
    >
      <i class="bordered small inverted blue restroom icon"></i>
    </div>
    <div
      class="ui fitted segment"
      *ngIf="pgDef?.restroom == 'Outhouse'"
      data-tooltip="Outhouse / portable toilet"
      data-position="bottom center"
    >
      <i class="bordered small olive restroom icon"></i>
    </div>

    <div
      class="ui fitted segment"
      data-tooltip="How long since your last visit to this playground"
      data-position="bottom center"
    >
      <i class="calendar check icon fitted"></i> {{ getLastVisitString() }}
    </div>

    <div
      class="ui fitted segment"
      data-tooltip="Edit"
      data-position="bottom center"
    >
      <a class="ui mini icon compact button" routerLink="/edit/{{ pgDef?.id }}">
        <i class="edit icon"></i>
      </a>
    </div>
  </div>
</div>
