<div class="ui image">
  <img class="ui image" src="{{ pgDef.imageUrl }}" />
</div>
<div class="content">
  <div class="header">
    {{ pgDef.name }}&nbsp;&nbsp;
    <a
      target="_blank"
      href="{{ getParkWebsiteURL() }}"
      *ngIf="pgDef.id != '999999'"
      ><i class="external alternate small link icon"></i
    ></a>
  </div>
  <div class="meta">
    <span *ngIf="hhPgData?.nickname as nick"
      >"{{ nick.trim() }}" Playground</span
    >
  </div>
  <div class="description">
    <a target="_blank" href="{{ getGoogleMapsURL() }}">{{
      trimmedAddress()
    }}</a>
  </div>
  <div class="description">
    {{ hhPgData?.notes }}
  </div>
</div>

<div class="extra content" style="padding: 0px">
  <div
    class="ui horizontal basic center aligned segments"
    style="margin-top: 8px; margin-bottom: 8px"
  >
    <div
      class="ui fitted segment"
      *ngIf="pgDef.restroom == 'None'"
      data-tooltip="No toilet"
      data-position="right center"
    >
      <i class="restroom small inverted grey icon"></i>
    </div>
    <div
      class="ui fitted segment"
      *ngIf="pgDef.restroom == 'Indoor'"
      data-tooltip="Indoor restroom"
      data-position="right center"
    >
      <i class="bordered small inverted blue restroom icon"></i>
    </div>
    <div
      class="ui fitted segment"
      *ngIf="pgDef.restroom == 'Outhouse'"
      data-tooltip="Outhouse"
      data-position="right center"
    >
      <i class="bordered small olive restroom icon"></i>
    </div>

    <div
      class="ui fitted segment"
      *ngIf="pgDef.splashpad"
      data-tooltip="Splashpad"
      data-position="top center"
    >
      <i class="blue water icon"></i>
    </div>

    <div
      class="ui fitted segment"
      *ngIf="hhPgData?.passport"
      data-tooltip="Passport logged"
      data-position="top center"
    >
      <i class="plane icon fitted small yellow"></i>
    </div>
    <div
      class="ui fitted segment"
      *ngIf="!hhPgData?.passport"
      data-tooltip="Passport not logged"
      data-position="top center"
    >
      <i class="plane icon fitted tiny inverted grey circular"></i>
    </div>

    <div
      class="ui fitted segment"
      data-tooltip="When you last visited"
      data-position="top center"
    >
      <i class="calendar check icon fitted"></i> {{ getLastVisitString() }}
    </div>

    <div class="ui fitted segment">
      <app-check-in
        [pgDef]="pgDef"
        [hhPgData]="hhPgData"
        [compact]="true"
        [geoCoords]="geoCoords"
      ></app-check-in>
    </div>
  </div>
</div>
