<div class="ui segment center aligned">
  <h3 class="ui header">Nearest Playground</h3>
  <div class="ui text grey">
    <i class="compass outline icon"></i>{{ nearestDistance.toFixed(1) }} miles
  </div>

  <app-pg-card
    *ngIf="nearestPgDef"
    [pgDef]="nearestPgDef"
    [hhPgData]="householdPlaygroundData"
    class="ui centered raised card"
    [geoCoords]="geoCoords"
  ></app-pg-card>

  <app-check-in
    [pgDef]="nearestPgDef"
    [hhPgData]="householdPlaygroundData"
    [compact]="false"
    [geoCoords]="geoCoords"
  ></app-check-in>
</div>

<div class="ui segment">
  <div *ngIf="!showList" class="compact-centered">
    <div class="ui button" (click)="showList = true">
      <i class="list icon"></i> All Playgrounds
    </div>
  </div>
  <div *ngIf="showList">
    <app-pg-list [geoCoords]="geoCoords"></app-pg-list>
  </div>
</div>
