<div
  class="ui primary button"
  style="border-radius: 2rem"
  (click)="showModal()"
  *ngIf="!compact"
>
  <i class="check icon"></i>Check In
</div>

<a
  class="ui mini icon compact basic primary button"
  (click)="showModal()"
  *ngIf="compact"
>
  <i class="edit icon"></i>
</a>

<!-- 
<div class="ui modal" id="modal_check_in">
  <div class="header">{{ pgDef.name }}</div>
  <div class="content">
    <div class="description">
      <form class="ui form">
        <div class="field">
          <label>Visit Date</label>
          <div class="ui calendar" id="visit_date_calendar">
            <div
              class="ui input left icon"
              style="margin: 0rem 0rem 1rem 0rem; max-width: 80%"
            >
              <i class="calendar alternate icon"></i>
              <input type="text" placeholder="Date" id="visit_date_input" />
            </div>
            <button
              class="ui tertiary icon button"
              (click)="clearVisitDate()"
              type="button"
              tabindex="-1"
            >
              <i class="times circle outline icon"></i>
            </button>
          </div>
        </div>
        <div class="field">
          <label>Passport</label>
          <div class="ui input">
            <input type="text" placeholder="Passport" id="passport_input" />
          </div>
        </div>
        <div class="field">
          <label>Notes</label>
          <div class="ui input">
            <input type="text" placeholder="Notes" id="notes_input" />
          </div>
        </div>
        <div class="field">
          <label>Nickname</label>
          <div class="ui input">
            <input type="text" placeholder="Nickname" id="nickname_input" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel button">Cancel</div>
    <div
      class="ui ok primary right labeled icon button"
      (click)="submit()"
    >
      Done
      <i class="angle right icon"></i>
    </div>
  </div>
</div> -->
